@charset "UTF-8";

div{
    display: inline-block;
    box-sizing: border-box;
 
}

div.title{
	width:90%;
	height:150px;
	font-size:50px;
	padding-top:30px;
	font-weight:bold;
	text-align:center;
}

div.setting{

	width:50%;
	height:80px;
	font-size:15px;
	
	
	text-align:center;
	
	float:left;
	margin:0;
	padding:0;
	border:0;
}


table{
	width:90%; 
	height:700px; 
	border-collapse:collapse;
	
}

td{
	width:50%;
}


div.content{
	width:50%;
	float:left;
	padding:30px;
	
}

input.content{
	
	width:90%;
	height:300px;
}
